*{box-sizing: border-box;}

h1, table{
  text-align: center;
}

h1{
  text-decoration: underline;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  font-size: 18px;
}

p {
  font-size: 20px;
}
